* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.alignment-flex {
    display: flex;
    align-items: center;
}


form {
    height: 400px;
    width: 900px;
    justify-content: space-around;
}

.container {
    background: #f3e5f5;
    box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
    height: 200px;
    width: 800px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;

}

input, button {
    border-radius: 5px;
    border: 2px;
    height: 20px;
    margin: 2px;
    border: 0.5px solid #e1bee7;
    outline: none;
}

#cep {
    width: 100px;
}

button {
    width: 25px;
    background-color: #9ea7b5;
    cursor: pointer;
}

button:hover {
    background-color: #7f8ea5;
}

#street {
    width: 400px;
}

#number {
    width: 50px;
}

#district, #complement {
    width: 250px;
}

@media only screen and (max-width: 770px) {
    .container {
        height: 400px;
        width: 500px;
        align-items: flex-start;
    }
    .container div {
        display: flex;
        flex-direction: column;   
    }

    label, input, button {
        margin-left: 5px;
    }
}




